.mobile-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -310px;
  transition: all 0.5s;
-moz-transition: all 0.5s;
-webkit-transition: all 0.5s;
-o-transition: all 0.5s;
width: 300px;
z-index: 150000;
background: #fff;
padding: 20px;
box-shadow: 0 10px 10px rgba(0,0,0,0.3);
 .close {
   position: absolute;
   top: 0;
   right: 0;
   border: 0;
   background: none;
   font-size: 25px;
   cursor: pointer;
   &:hover {
     color: $color;
   }
 }
 .main-menu {
   margin: 0;
   padding: 0;
   text-align: left;
   .main-menu-item {
     display: block;
     font-size: 18px;
     padding: 4px 0;
     margin-bottom: 5px;
     & a:hover, &.is-current>a{
       color: $color;
     }
     &.opened .level-2 {
       max-height: 2000px;
     }
     .menu-marker {
       border: 0;
       position: relative;
       background: $border;
       color: #000;
       cursor: pointer;
       margin-left: 5px;
       border-radius: 2px;
       &:hover {
         background: $color;
       }
       &:before {
         content: '\e911';
         font-family: 'keyfood' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


       }
     }
   }
   .level-2 {
     max-height: 0;
     overflow: hidden;
     transition: all 0.3s;
-moz-transition: all 0.3s;
-webkit-transition: all 0.3s;
-o-transition: all 0.3s;
      li {
        margin-left: 15px;

      }
     li:first-child {
       margin-top: 20px;
     }
   }
 }

}
.opaco {
  opacity: 0;
  z-index: -10;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.3);
  transition: all 0.5s;
-moz-transition: all 0.5s;
-webkit-transition: all 0.5s;
-o-transition: all 0.5s;
}
.mobile-menu-opened {
  overflow: hidden;
  position: fixed;
  .opaco {
    z-index: 1500;
    opacity: 1;
  }
  .mobile-menu {
    left: 0;
  }
}
