<script type="text/javascript">
 var delivery_variant_id = {{account.delivery_variants[0].id}};
 var payment_gateway_id = {{account.payment_gateways[0].id}};
</script>
<div id="fastcheckout" class="form-popup" style="display:none">
  <form action="/feedback" method="post" class="js-fastcheckout-form">
  <div class="page-header">
    <h1>Заказ в один клик</h1>
  </div>
    <div class="form-section">
    <div class="form-row required">
      <label for="name">Имя</label>
      <input type="text" class="textfield" name="name" />
    </div>
    <div class="form-row required">
      <label for="email">Email</label>
      <input type="text" class="textfield" name="email" value="" />
    </div>
    <div class="form-row required">
      <label for="phone">Телефон</label>
      <input type="text" class="textfield" class="js-phone" name="phone" />
    </div>
    <button type="submit" class="button">Отправить</button>
  </div>
  </form>
</div>
