<div class="instagram-wrapper">
  <div class="container">
    <div class="row instagram-title">
      <div class="cell-6">
        <a href="https://www.instagram.com/bakerhouse_blog/" target="blank">@bakerhouse_blog</a>
      </div>
      <div class="cell-6 text-right">
        <a href="https://www.instagram.com/explore/tags/bakerhouse/" target="blank">#bakerhouse</a>
      </div>
    </div>
  </div>
  <section class="instagram-feed">
    <div class="wrap">
      <div class="swiper-wrap">
        <div class="swiper-container instagram-feed_swiper-container">
          <div class="swiper-wrapper flex-middle" id="instafeed">
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
